.section {
    width: 100%;
}
.section .sticky {
    background: inherit;
    width: 100%;
    height: 100%;
}
.section .sticky .fullBox {
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .section .sticky {
        position: sticky;
        top: 0px;
    }
}