.wrapper {
    width: 100%;
}
.wrapper .content {
    background: inherit;
    width: 100%;
    height: 100%;
}
.wrapper .content .fullBox {
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .wrapper .sticky {
        position: sticky;
        top: 0px;
    }
}