.section {
    width: 100%;
}
.section .sticky {
    width: 100%;
    height: 100%;
    top: 0px;
}
.section .sticky .fullBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@media (min-width: 768px) {
    .section .sticky {
        position: sticky;
        height: 100vh;
    }
}